{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="container">
  <h2>ユーザリスト</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>    
      {% for user in user_data %}
      <tr>
        <td>{{ user['name'] }}さん</td>
        <td>{{ user['address'] }}</td>
        <td>{{ user['email'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="/logout">logout</a></p>
  </div>
{% endblock %}
